*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}

.header{
    background-color: #063970;
    /* background-color: orangered; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0px 25px;
    height: 120px;
    align-items: center;
    
    /*text-align: center;*/
 }
 .logo{
    padding-top: 25px;
    
    
}
.search input{
    height: 35px;
    width: 90%;
    border: none;
    outline: none;
    /* border-radius: 15px; */
    padding: 10px;
    font-size: 16px;
    /* background-color: red; */
}
 .icons{
    text-align: right;
}
.icons .fa{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    transition: 0.6s;
    background: none;
    border: none;
}

.icons .fa:hover{
    color: hsl(211, 92%, 49%);
}
.btnSearch{
    height: 35px;
    /* background-color: yellow; */
    background: none;
    border: none;
    align-items: center;
}
.search{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    height: 45px;
    align-items: center;
    gap: 10px;
}

 /* @media only screen and (max-width: 600px){
    .header {
        grid-template-columns: auto auto;
        padding: 10px 7px;
        height: auto;
    }

    .icons .fa{
        padding: 5px;
    }
} */