.accountmaincontainer{
    background-color: #f2f2f2;
    width: 100%;
    height: 1000px;
}
.Profile{
    background-color: white;
    height: 70px;
    width: 300px;
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
   
    
    
}
.leftsidediv
{
     padding-top: 70px;
     padding-left: 30px;
     
     
}
.accountsetting{
    background-color: white;
    height: 300px;
    width: 300px;
     margin-top: 30px;
     
} 
.rightsidediv{
    
    height: 400px;
    width: 800px;
    margin-top: 70px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: white;
}
.rootcontainer{
    display: flex;
    flex-direction: row;
    gap: 100px;
}